@mixin insetBoxShadowBorder($color, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  box-shadow: inset #{$right * -1}px 0 $color, inset #{$left}px 0 $color, inset 0 #{$bottom * -1}px $color,
    inset 0 #{$top}px $color;
}

@mixin boxShadowBorder($color, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  box-shadow: #{$left * -1}px 0 $color, #{$right}px 0 $color, 0 #{$top * -1}px $color, 0 #{$bottom}px $color;
}

.popup {
  background: var(--lead-color);
  color: var(--lead-contrast);
  padding: 8px;
  min-width: 176px;
  user-select: text;
  z-index: 101;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-fast);
  transition-property: opacity, visibility;
  font-family: var(--font-text);
  font-weight: 400;
  @include boxShadowBorder(var(--lead-contrast), 2, 2, 0, 2);

  &.placementTopStart {
    border-bottom-left-radius: 0;
  }

  &.placementTopEnd {
    border-bottom-right-radius: 0;
  }

  &.isOpen {
    opacity: 1;
    visibility: visible;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-weight: 500;
  cursor: pointer;
}

.input {
  background: var(--popup-input-background);
  color: var(--lead-contrast);
  font: inherit;
  font-family: var(--font-mono);
  padding: 4px 8px;
  width: 48px;
  transition: var(--transition-fast);
  transition-property: background, box-shadow;
  flex: 1;
  box-shadow: inset 0 0 0 0 var(--lead-contrast);

  &:focus-visible {
    box-shadow: inset 0 0 0 1px var(--lead-contrast);
    background: var(--popup-input-background-focus);
    outline: none;
  }
}

.inputRow {
  display: flex;

  & > * {
    border: 1px solid var(--lead-contrast);

    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  background: var(--popup-button-background);
  color: var(--lead-contrast);
  font-weight: 500;
  font-size: 14px;
  transition: var(--transition-fast);
  transition-property: background, box-shadow;
  cursor: pointer;
  padding: 0 8px;
  @include insetBoxShadowBorder(var(--lead-contrast), 0, 0, 0, 0);

  &:hover,
  &:focus-visible {
    background: var(--popup-button-background-focus);
    outline: none;
    @include insetBoxShadowBorder(var(--lead-contrast), 1, 1, 1, 1);

    *:focus-visible + & {
      @include insetBoxShadowBorder(var(--lead-contrast), 1, 1, 1, 0);
    }
  }
}
