.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 16px;
  height: 36px;
  appearance: none;
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  border: none;
  transition: var(--transition-fast);
  transition-property: opacity, background, color;

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &.primary {
    background: var(--button-primary-background);
    color: var(--button-primary-color);

    &:not(:disabled):hover,
    &:focus-visible {
      background: var(--button-primary-background-focus);
    }
  }

  &.secondary {
    background: var(--button-secondary-background);
    color: var(--button-secondary-color);

    &:not(:disabled):hover,
    &:focus-visible {
      background: var(--button-secondary-background-focus);
    }
  }
}
