.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.text {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  flex: 1;
}

.textColumn {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.textColumnHeaderWrapper {
  display: flex;
  justify-content: space-between;
  height: 36px;
  margin-bottom: 16px;
}

.textColumnHeader {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: var(--text-muted);
}

.buttonsWrapper {
  display: flex;
  gap: 8px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.selectButton {
  min-width: 352px;
}
