body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color-1);
  background-image: linear-gradient(to bottom, var(--background-color-1), var(--background-color-2));
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 2px solid var(--lead-color);
  outline-offset: 4px;
}
